<ion-header>

  <ion-navbar>
    <ion-buttons start *ngIf="game">
      <button ion-button color="danger" (click)="reset()" [disabled]="game && game.players.length === 0">
        Reset
      </button>
    </ion-buttons>
    <ion-title>{{ game ? game.name : '' }}</ion-title>
    <ion-buttons end *ngIf="game">
      <button ion-button (click)="addEditPlayer(undefined)" [disabled]="game && game.players.length > 5">
        <ion-icon name="add"></ion-icon> Add
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- setup state -->
  <ion-list class="catan-grid" reorder="true" (ionItemReorder)="reorderItems($event)" *ngIf="game && game.state === 'setup'">
    <ion-item class="player-row catan-{{player.color}}" *ngFor="let player of game.players" (click)="addEditPlayer(player)">
      <div class="name" text-center>{{ player.name }}</div>
    </ion-item>
  </ion-list>

  <!-- game started state -->
  <div *ngIf="game && game.state === 'started'">
    Game has started

    <ion-card *ngIf="game.currentPlayer">
      <div>{{ game.currentPlayer.name }}</div>
      <div>{{ game.currentPlayer.startTime | time }}</div>
    </ion-card>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar (click)="startGame()">
    <ion-title>Start Game</ion-title>
  </ion-toolbar>
</ion-footer>